<h1 id="tableLabel">Configurator</h1>

<p>A great time saver when building system configurations is the possibility to copy an existing child configuration in the system.
  <br>
  But COMBINUM doesn't stop there. You can also import child configurations from other systems. When child configurations are imported COMBINUM checks for rule conflicts and if found solves them automatically.
</p>

<p *ngIf="!product"><em>Loading...</em></p>

<h4>Configuring {{product.name}}</h4>
<p *ngFor="let item of data">{{item.name}}</p>

<picker-component *ngFor="let parameter of product.parameters"  (updateParameters)="updateRules()" (selected)="onSelected($event)" [parameter]="parameter" [disabledOptions]="disabledOptions(parameter)"></picker-component>



